<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	default-autowire="byName">
	 <!-- 采用注释的方式配置bean -->
    <context:annotation-config />
    <!-- 配置要扫描的包 -->
    <context:component-scan base-package="cn.com.sunjiesh.thirdpartdemo"></context:component-scan>
    <context:component-scan base-package="cn.com.sunjiesh.wechat"></context:component-scan>
    
    <bean id="mediaService" class="cn.com.sunjiesh.wechat.service.MediaService">
    	<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"/>
    </bean>
    <bean id="accessTokenService" class="cn.com.sunjiesh.wechat.service.AccessTokenService">
    	<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"/>
	</bean>
    <bean id="wechatValidService" class="cn.com.sunjiesh.wechat.service.WechatValidService">
    	<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"/>
    </bean>
    <bean id="templateMessageService" class="cn.com.sunjiesh.wechat.service.TemplateMessageService">
    	<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"></property>
    </bean>
    <bean id="userService" class="cn.com.sunjiesh.wechat.service.UserService">
    	<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"></property>
    </bean>
    <bean id="messageReceiveService" class="cn.com.sunjiesh.thirdpartdemo.service.CustomMessageReceiveService">
		<property name="wechatAccessTokenDao" ref="redisWechatAccessTokenDao"></property>
    </bean>
    
	<bean id="messageReceiveProcessService" class="cn.com.sunjiesh.wechat.service.CustomerWechatMessageReceiveProcessServiceImpl">
		<property name="mediaService" ref="mediaService"></property>
		<property name="templateMessageService" ref="templateMessageService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
</beans>